@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:400");
@import url("https://px.animaapp.com/6452308762287eb1968591d1.6452308855aff7527f4c08a0.6452326162287eb1968591df.hcp.png");

@font-face {
    font-family: "Circular Air-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/CircularAir-Bold") format("truetype");
}
@font-face {
    font-family: "Circular Air-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/CircularAir-Light") format("truetype");
}


.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

* {
    box-sizing: border-box;
}
